<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Account">

    <insert id="insertAccount" parameterType="com.neuedu.entity.Account">
       INSERT into account(username,password,ip,sex) VALUE(#{username},#{password},#{ip},#{sex})
    </insert>


</mapper>