<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Cart">

<insert id="insertCart" parameterType="com.neuedu.entity.Cart">
   insert into cart(productid,productNum,unit_price,totalprice) values (#{productid},#{productNum},#{unit_price},#{totalprice})
</insert>

 <delete id="deleteCar" parameterType="java.lang.Integer">
     delete from cart where id=#{id}
 </delete>

<update id="updataeCar" parameterType="java.util.Map">
    update cart set productnum=#{productNum},totalprice=#{totalprice} where id=#{id}
</update>

    <resultMap id="findCart_Product" type="com.neuedu.entity.Cart" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="productNum" column="productnum"></result>

        <association property="product" javaType="com.neuedu.entity.Product" column="productid"  autoMapping="true">
            <id property="id" column="productid"></id>

            <result property="desc" column="pdesc"></result>

        </association>
    </resultMap>

<select id="findAllCart" resultMap="findCart_Product">
    select c.id,c.productid,c.productnum,c.unit_price,c.totalprice,p.name,p.pdesc,p.price,p.rule,p.stock,p.category_id
    from cart c,product p
    WHERE c.productid=p.id
</select>

<update id="updateCar" parameterType="java.util.Map">
        update cart set productnum=#{productNum},totalprice=#{totalprice} where id=#{id}
</update>

<select id="findCartById" resultType="com.neuedu.entity.Cart" parameterType="java.lang.Integer">
    select id,productid,productnum,unit_price,totalprice from  cart where id=#{id}
</select>

<select id="findTotalCount" resultType="java.lang.Integer">
        select count(id) from cart
</select>



<select id="findCartByPage" resultType="com.neuedu.entity.Cart" parameterType="java.util.Map">
select id,productid,productnum,unit_price,totalprice from  cart limit #{offset},#{pageSize}
</select>

</mapper>